nav{
    background-color: rgb(6, 10, 29);
    color: aliceblue;
     display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    padding: 100px;
}
nav ul li{
    display: inline-flex;
    margin-right: 200px;
    transition-duration: 0.3s;

}

nav ul li:hover{
    transition-duration: 0.3s;
    transform: scale(1.3);
    color: rgb(0, 87, 185);
    cursor: pointer;
}